.mainHeader {
  height: 468px;
  background-color: var(--bg-color);
}

.mainHeaderWrapper {
  position: relative;
}

.mainHeader__navbar {
  padding-top: 15px;
}

.mainHeader__hr {
  color: #fff;
  height: 1px;
}

.mainHeader__titleWrapper {
  position: absolute;
  bottom: 48px;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}

.mainHeader__title {
  font-size: 200px;
  opacity: 0.12;
}

.mainHeader__contentWrapper {
  position: absolute;
  bottom: 93px;
  z-index: 2;
}

.mainHeader__description {
  font-size: 2.25rem;
  max-width: 580px;
}

.mainHeader__btn {
  margin-top: 104px;
  margin-left: 16px;
}
