.catalog {
  padding-top: 54px;
  padding-bottom: 54px;
}

.catalogWrapper {
  display: flex;
  gap: 20px;
}

.catalog__header {
  margin-bottom: 33px;
}

@media only screen and (max-width: 768px) {
  .catalogWrapper {
    flex-direction: column;
    align-items: center;
  }
}
