.tags {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(117px, 1fr));
  min-width: 240px;
  padding: 1px;
  gap: 1px;
  background-color: var(--btn-outlined-primary);
  border-radius: var(--border-radius);
}

.tags > li {
  list-style-type: none;
  background-color: var(--bg-selector);
}

.tags > li:first-child {
  border-radius: var(--border-radius) 0 0 0;
}
.tags > li:nth-child(2) {
  border-radius: 0 var(--border-radius) 0 0;
}
.tags > li:nth-last-child(2) {
  border-radius: 0 0 0 var(--border-radius);
}
.tags > li:last-child {
  border-radius: 0 0 var(--border-radius) 0;
}

.odd > li:nth-last-child(2) {
  border-radius: 0;
}
.odd > li:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: 0;
}
