.navbar {
  position: relative;
  padding-top: var(--navbar-padding);
  padding-bottom: var(--navbar-padding);
  background-color: var(--bg-color);
  --navbar-padding: 3px;
}

.navbarWrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar.fixed {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding-top: var(--navbar-padding);
  padding-bottom: var(--navbar-padding);
  margin: 0;
}

.navbarWrapper.center {
  justify-content: center;
}

.navbar__menuContainer {
  display: inline-block;
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar__menu > li {
  padding-right: 36px;
  overflow: hidden;
}
.navbar__menu > li:last-child {
  padding-right: 0;
}

.navbar__menu__buttonContainer {
  position: absolute;
  top: 0;
  right: var(--container-tablet-padding);
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navbar__menu_toggle {
  display: none;
}

.navbar__menu__button,
.navbar__menu__button::before,
.navbar__menu__button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.navbar__menu__button::before {
  content: '';
  margin-top: -8px;
}

.navbar__menu__button::after {
  content: '';
  margin-top: 8px;
}

#navbar__menu_toggle:checked
  + .navbar__menu__buttonContainer
  .navbar__menu__button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#navbar__menu_toggle:checked
  + .navbar__menu__buttonContainer
  .navbar__menu__button {
  background: rgba(255, 255, 255, 0);
}

#navbar__menu_toggle:checked
  + .navbar__menu__buttonContainer
  .navbar__menu__button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media only screen and (max-width: 768px) {
  .navbar__menu__buttonContainer[data-burger] {
    display: flex;
  }
  .navbar__menu[data-burger] {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 100;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .navbar.fixed .navbar__menu[data-burger] {
    top: 48px;
  }
  #navbar__menu_toggle ~ .navbar__menu[data-burger] li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #navbar__menu_toggle:checked ~ .navbar__menu[data-burger] li {
    border-bottom: 1px solid #fff;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #navbar__menu_toggle:checked ~ .navbar__menu[data-burger] li:first-child {
    border-top: 1px solid #fff;
  }
  .navbar__menu[data-burger] > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background-color: var(--bg-color);
  }
  .navbar__menu[data-burger] > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
