.navbar {
  padding-top: var(--navbar-padding);
  padding-bottom: var(--navbar-padding);
  background-color: var(--bg-color);
  --navbar-padding: 3px;
}

.navbar > .navbarWrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar.fixed {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding-top: var(--navbar-padding);
  padding-bottom: var(--navbar-padding);
  margin: 0;
}

.navbar__menu {
  display: inline-block;
}

.navbar__menu > a {
  padding-right: 36px;
}
.navbar__menu > a:last-child {
  padding-right: 0;
}
