.product {
  width: 100%;
}

.product__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.product__props {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product__prop {
  display: flex;
  gap: 10px;
}
