.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  gap: 10px 20px;
  width: 100%;
}

.container_sparse {
  column-gap: 26px;
}

@media only screen and (max-width: 1200px) {
  .container_sparse {
    column-gap: 20px;
  }
}
